* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    background-image: url(./image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem 30rem;
}

.navlist {
    display: flex;
}

.navlist a {
    color: #fffff9;
    font-size: 17px;
    font-weight: 500;
    transition: all .45s ease;
    margin: 0 25px;
}

.bx {
    display: none;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.first {
    width: 60%;
    padding: 2rem;
    margin: auto;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 1px;
    background: #fffff9;
    box-shadow: 0 3px 3px grey;
    position: relative;
    bottom: 6rem;
    border-radius: 8px;
}

.m {
    position: relative;
    bottom: 4.5rem;
}

.first h1 {
    font-weight: 700;
}

.first p {
    color: #979696;
    font-size: 15px;
}

button {
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 20%;
    cursor: pointer;
    outline: none;
}

.btn {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.a {
    display: none;
}

.btn1 {
    background: rgb(41, 238, 238);
    color: #fff;
    font-size: 13px;
}

.btn1:hover {
    background: rgb(7, 167, 167);
}

.btn2 {
    color: grey;
    background: #d0cfcf;
}

.btn2:hover {
    background: #a8a6a6;
    color: rgb(96, 95, 95);
}

.second {
    width: 60%;
    padding: 2rem;
    margin: 0 auto 5rem;
    line-height: 1.3;
    letter-spacing: 1px;
    background: #fffff9;
    box-shadow: 0 2px 2px 2px grey;
    border-radius: 8px;
}

.second h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.second p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #979696;
}

fieldset {
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 10px;
}

.field {
    opacity: .4;
    cursor: not-allowed;
}

.field a {
    cursor: not-allowed;
}

.field button {
    cursor: not-allowed;
}

fieldset a {
    color: rgb(41, 238, 238);
}

.bam-stand {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

fieldset p {
    padding: 10px;
}

.bam-stand h2 {
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.bam-stand span {
    font-weight: 200;
    font-size: 15px;
}

#alert {
    box-shadow: 10px 10px 10px 10px grey;
    width: 30%;
    box-shadow: 0 2px 2px 2px grey;
    background: #fffff9;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    line-height: 2;
    transition: all .45s ease;
    display: block;
    margin: 10rem auto;
}

#alert .btn1 {
    width: 30%;
    padding: 10px;
}

#dimbg {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    /* background: rgba(152, 148, 148, 0.92); */
    background: #1d1c1ca6;
}

hr {
    display: none;
}
/* ............................ */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/* ............................ */


@media (max-width: 1480px) {
    header {
        padding: 2rem 5rem 30rem;
        transition: .1s;
    }
}

@media (max-width: 840px) {
    header {
        background-image: url(./image-hero-mobile.jpg);
    }

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        width: 80%;
        top: -1000px;
        right: 50px;
        display: flex;
        flex-direction: column;
        background: #Fff;
        color: #2a2a2a;
        text-align: left;
        transition: all .45s ease;
        border-radius: 8px;
    }

    .navlist a {
        display: block;
        color: #2a2a2a;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
    }

    .navlist.open {
        top: 10%;
    }

    .first {
        width: 70%;
        padding: 2rem;
        margin: auto;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 1px;
        background: #fffff9;
        box-shadow: 0 3px 3px grey;
        position: relative;
        bottom: 6rem;
        border-radius: 8px;
        line-height: 1.5;
    }

    .first h1 {
        font-size: 16px;
    }

    .first p {
        color: #979696;
    }

    button {
        padding: 18px;
        width: 50%;
        font-size: 13px;
    }

    .a {
        display: block;
    }

    .btn1 {
        background: rgb(41, 238, 238);
        color: #fff;
    }

    .btn2 {
        display: none;
    }

    .second {
        width: 70%;
    }

    .second h2 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .second p {
        font-size: 14px;
        margin-bottom: 15px;
        color: #979696;
    }

    .bam-stand {
        display: block;
    }

    #close {
        display: none;
    }

    .bx {
        display: block;
    }

    hr {
        display: block;
    }

    #alert {
        width: 70%;
    }

}